<div class="container">
  <h2>Patient Identification (PID) </h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="on">
    <div ngModelGroup="PIData">
      <br>
      <h3>Patient Identification</h3>
      <div class="form-group">
        <label for="extPatientId">Patient Id(External ID) </label>
        <input type="text"
               class="form-control"
               id="extPatientId"
               [(ngModel)]="PID.extPatientId"
               name="extPatientId"
               placeholder="External Patient Id"
               required
        >
      </div>
      <div class="form-group">
        <label for="intPatientId">Patient Id(Internal ID)  </label>
        <input type="text"
               class="form-control"
               id="intPatientId"
               [(ngModel)]="PID.intPatientId"
               placeholder="Internal Patient Id"
               name="intPatientId"
        >
      </div>
      <div class="form-group">
        <label for="name">Patient Name </label>
        <input type="text"
               class="form-control"
               id="name"
               [(ngModel)]="PID.name"
               name="name"
               placeholder="Full Name"
               required
               #name="ngModel" >
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
      </div>
      <div class="form-group">
        <label for="maidenName">Mother's Maiden Name </label>
        <input type="text"
               class="form-control"
               id="maidenName"
               [(ngModel)]="PID.maidenName"
               name="maidenName"
               placeholder="Maiden Name"
        >
      </div>
      <div class="form-group">
        <label for="birth">Date and Time of Birth</label>
        <input type="datetime-local"
               id="birth"
               [(ngModel)]="PID.birthday"
               name="birth"
        >
      </div>
      <div class="form-group" >
        <label for="sex">Sex </label>
        <input type="text"
               id="sex"
               [(ngModel)]="PID.sex"
               name="sex"
               list="sexType"
               required
        >
        <datalist id="sexType">
          <option value="Female">
          <option value="Male">
          <option value="Does not want to self-identify">
        </datalist>
      </div>
      <div class="form-group">
        <label for="marital">Marital Status: </label>
        <input type="text"
               class="form-control"
               id="marital"
               [(ngModel)]="PID.marital"
               name="marital"
               list="maritalStatus"
        >
        <datalist id="maritalStatus">
          <option value="Married">
          <option value="Single">
        </datalist>
      </div>
      <div class="form-group">
        <label for="address">Patient Address </label>
        <input type="text"
               class="form-control"
               id="address"
               [(ngModel)]="PID.address"
               name="address"
               placeholder="Street, City, State, Zipcode"
               required>
      </div>
      <div class="form-group">
        <label for="phoneNum">Phone Number - Mobile  </label>
        <input type="tel"
               class="form-control"
               id="phoneNum"
               [(ngModel)]="PID.mobileNum" name="phoneNum"
               placeholder="(000)-421-9999"
               required
        >
      </div>
      <div class="form-group">
        <label for="homePhone">Patient Number - Home </label>
        <input type="tel"
               class="form-control"
               id="homePhone"
               [(ngModel)]="PID.homeNum"
               placeholder="(000)-421-9999"
               name="homeNum"
        >
      </div>
      <div class="form-group">
        <label for="ssn">SSN Number - Patient </label>
        <input type="password"
               class="form-control"
               id="ssn"
               [(ngModel)]="PID.ssn"
               placeholder="421-42-9999"
               name="ssn"
        >
      </div>
      <div class="form-group">
        <label for="driverLicense">Driver License - Patient</label>
        <input type="text"
               class="form-control"
               id="driverLicense"
               [(ngModel)]="PID.driverLicense"
               name="driverLicense"
               placeholder="E421999"
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit PID Data</button>
  </form>
  <h3>Encoded String: </h3>
  <p> {{parsedItem}}</p>

</div>
