<div class="container">
  <h1>Hero Form</h1>
  <form #f=""ngForm>
    <div class="form-group">
      <label for="name">Input HL7 Encoded String Here: </label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <h3> Don't have a Hl7 Code Generate One Here: </h3>
    <button type="submit" class="btn btn-default">Generate New HL7 String</button>
  <br>
    <br>

    <button type="submit" class="btn btn-default">Parse Code</button>
  </form>

  <h2>Results: (Below) </h2>
</div>
