<div class="container">
  <h2>HL7 Patient Identification (PID) and Patient Visit (PV1) Segments</h2>
  <form #f=""ngForm>

    <br>
    <h3>Patient Identification</h3>

    <div class="form-group">
    <label for="extPatientId">Patient Id(External ID) </label>
    <input type="text" class="form-control" id="extPatientId" required >
  </div>
    <div class="form-group">
      <label for="intPatientId">Patient Id(Internal ID)  </label>
      <input type="text" class="form-control" id="intPatientId">
    </div>
    <div class="form-group">
      <label for="name">Patient Name </label>
      <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="maidenName">Mother's Maiden Name </label>
      <input type="text" class="form-control" id="maidenName">
    </div>
    <div class="form-group">
      <label for="birth">Date and Time of Birth</label>
      <input type="datetime-local" class="form-control" id="birth">
    </div>
    <div class="form-group">
      <label for="sex">Sex </label>
      <input type="text" class="form-control" id="sex" required>
    </div>
    <div class="form-group">
      <label for="marital">Marital Status: </label>
      <input type="text" class="form-control" id="marital">
    </div>
    <div class="form-group">
      <label for="address">Patient Address </label>
      <input type="text" class="form-control" id="address" required>
    </div>
    <div class="form-group">
      <label for="phoneNum">Phone Number - Mobile  </label>
      <input type="text" class="form-control" id="phoneNum">
    </div>
    <div class="form-group">
      <label for="homePhone">Patient Number - Home </label>
      <input type="text" class="form-control" id="homePhone">
    </div>
    <div class="form-group">
      <label for="ssn">SSN Number - Patient </label>
      <input type="text" class="form-control" id="ssn">
    </div>
    <div class="form-group">
      <label for="driverLicense">Driver License - Patient</label>
      <input type="text" class="form-control" id="driverLicense">
    </div>



  <br>
    <br>

    <button type="submit" class="btn btn-default">Parse Code</button>
  </form>

  <h2>Results: (Below) </h2>
</div>
